[submodule "dependencies/pilotlight-libs"]
	path = dependencies/pilotlight-libs
	url = https://github.com/hoffstadt/pilotlight-libs
[submodule "dependencies/pilotlight-ui"]
	path = dependencies/pilotlight-ui
	url = https://github.com/hoffstadt/pilotlight-ui
