
# directories
.vs/
.vscode/
.idea/
data/
out/
out-temp/
shader-temp/
user/
game/
app/

editor/model-index.json

# python
build/__pycache__/
scripts/__pycache__/

# debug files
editor/*.pdb
src/*.pdb
examples/*.pdb
tests/*.pdb

# build scripts
src/build.bat
src/build.sh
examples/build.bat
examples/build.sh
tests/build.bat
tests/build.sh
src/build_distribute.bat
src/build_distribute.sh

# custom or user or mod
src/*_user.*
extensions/*_user.*
scripts/*_user.*
examples/*_user.*
shaders/*_user.*
editor/*_user.*

src/*_custom.*
extensions/*_custom.*
scripts/*_custom.*
examples/*_custom.*
shaders/*_custom.*
editor/*_custom.*

src/*_mod.*
extensions/*_mod.*
scripts/*_mod.*
examples/*_mod.*
shaders/*_mod.*
editor/*_mod.*

# misc
.DS_Store