
[submodule "dependencies/pilotlight-ui"]
	path = dependencies/pilotlight-ui
	url = https://github.com/pilotlighttech/pilotlight-ui
[submodule "dependencies/pilotlight-build"]
	path = dependencies/pilotlight-build
	url = https://github.com/pilotlighttech/pilotlight-build
