
# directories
.vs/
.vscode/
.idea/
data/
out/

# debug files
src/*.pdb
examples/*.pdb
tests/*.pdb

# build scripts
src/*.bat
src/*.sh
examples/*.bat
examples/*.sh
tests/*.bat
tests/*.sh

# apps
apps/*_user.*

# misc
.DS_Store